:root {
    --color-error: red;
    --color-link: #c34848;
    --color-link-visited: #6b6b6b;
    --color-bg: rgb(250, 247, 241);
    --color-surface: #f0e9e6;
    --color-border: #ccc;
    --color-text: #444;
    --color-text-input: white;
    --color-shadow: #dcd5d5;
}

@media (prefers-color-scheme: dark) {
    :root {
	--color-error: red;
	--color-link: #c34848;
	--color-link-visited: #6b6b6b;
	--color-bg: black;
	--color-surface: #252322;
	--color-border: rgb(84, 83, 84);
	--color-text: #ddd;
	--color-text-input: #1c1c1c;
    --color-shadow: transparent;
    }
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

body {
    display: flex;
    flex-direction: column;
}

body main:not([class]) {
    flex: 1;
    margin-inline: auto;
    width: calc(min(680px, 100%));
}

navbar {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

navbar h1 {
    margin: 0;
    font-size: 1.2rem;
}

navbar h1 span {
    font-weight: bold;
}

navbar h1 a {
    color: inherit;
    text-decoration: none;
}

navbar img#logo {
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 4px;
}

.ui-icon {
    color: gray;
    height: 32px;
    width: 32px;
    padding: 4px;
    transition: all 0.15s ease-in;
}

.ui-icon:hover {
    cursor: pointer;
    color: var(--color-link);
    background-color: var(--color-surface);
    border-radius: 4px;
}

.feed {
    padding: 1rem;
}

.feed__title {
    margin: 0;
    font-size: 1.15rem;
}

.feed_url {
    color: gray;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


.post p {
    margin: 0;
}


.post__link {
    text-decoration: none;
    color: var(--color-link);
}

.post__link:visited {
    display: none;
    visibility: hidden;
    color: var(--color-link-visited);
}

.post__link:hover {
    color: var(--color-text);
}

.post__date {
    font-size: 0.8rem;
    color: #8a8a8a;
}

/* utilities */

.mt-2 { margin-top: 2rem; }

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    max-width: 100%;
}

@media screen and (min-width: 680px) {
    .grid-3 {
	padding: 1rem;
    }
}

.flex { display: flex; }
.justify-between {
    justify-content: space-between;
    align-items: center;
}

.btn-delete {
    background: none;
    border: none;
    color: #c2c2c2;
    transition: color 0.15s linear;
}

.btn-delete:hover {
    color: red;
    cursor: pointer;
}

.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid  var(--color-link);
    background-color:  var(--color-link);
    padding: 0.5rem;
    color:  var(--color-bg) ;
    border-radius: 4px;
    transition: background-color 0.15s linear;
}

.btn-submit:hover {
    cursor: pointer;
    filter: brightness(1.125);
    color: white;
}

.btn-submit svg {
    height: 24px;
    width: 24px;
}

input[type="url"] {
    background-color: var(--color-text-input);
    padding: 0 1rem;
    font-size: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    color: var(--color-text);
}

input[type="url"]:focus {
    outline-color: var(--color-link);
}

.toolbar {
    display: flex;
    justify-content: end;
    padding-inline: 1rem;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

select {
    background-color: var(--color-bg);
    color: var(--color-text);
    border-color: var(--color-border);
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: center;
    border: 1px solid var(--color-surface);
    border-radius: 4px;
}

select:hover {
    cursor: pointer;
    color: var(--color-link);
    background-color: var(--color-surface);
}

#toggle-details, #random-entry {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-surface);
    border-radius: 4px;
    transition: all 0.15s linear;
}

#random-entry a {
    text-decoration: none;
    color: inherit;
}

#toggle-details:hover, #random-entry:hover {
    cursor: pointer;
    color: var(--color-link);
    background-color: var(--color-surface);
}

.techie-site-link {
    color: inherit;
    text-decoration: none;
}

.techie-site-link:hover {
    cursor: pointer;
    color: var(--color-text);
    text-decoration: underline;
}

.welcome-image {
    display: block;
    max-height: 320px;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 100%;
}

.add-feed-btn:hover {
    color: var(--color-link);
    background-color: var(--color-surface);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: all 0.15s linear;
}

.btn-text {
    background: none;
    border: none;
    padding: 0;
    color: #8a8a8a;
    font-size: 0.86rem;
}

.btn-text:hover {
    text-decoration: underline;
    cursor: pointer;
}
