* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

body main {
    flex: 1;
/*    background-color: aliceblue;*/
}

navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    padding: 1rem;
}

navbar h1 {
    font-weight: normal;
    margin: 0;
    font-size: 1rem;
}

navbar h1 span {
    font-weight: bold;
}

navbar h1 a {
    color: inherit;
    text-decoration: none;
}

.ui-icon {
    color: gray;
    height: 24px;
    width: 24px;
}

.ui-icon:hover {
    cursor: pointer;
    color: #2581d2;
}

.feed {
    padding: 1rem;
}

.feed__title {
    margin: 0;
    font-size: 1.15rem;
}

.feed_url {
    color: gray;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


.post p {
    margin: 0;
}


.post__link {
    text-decoration: none;
    color: #2581d2;
}

.post__link:visited {
    display: none;
    visibility: hidden;
    color: purple;
}

.post__link:hover {
    color: #0e2978;
}


.post__author {
    font-size: 0.8rem;
    color: #8a8a8a;
}

/* utilities */

.flex { display: flex; }
.justify-between {
    justify-content: space-between;
    align-items: center;
}

.btn-delete {
    background: none;
    border: none;
    color: #c2c2c2;
}

.btn-delete:hover {
    color: red;
    cursor: pointer;
}
